body[data-theme='dark'] {
    color-scheme: dark;
    // Material System Colors
    --mat-sys-background: #111c2d;
    --mat-sys-surface-bright: #111c2d;
    --mat-sys-surface: #111c2d;
    --mat-sys-surface-container: #111c2d;
    --mat-sys-surface-container-low: #111c2d;
    --mat-sys-surface-container-lowest: #0b111e;
    --mat-sys-on-background: #fff;
    --mat-sys-outline: #2a3447;
    --mat-sys-outline-variant: #2a3447;
    --mat-form-field-outlined-hover-outline-color: #2a3447;
    --mat-checkbox-unselected-hover-state-layer-color: #5a6a85;
    --mat-menu-item-hover-state-layer-color: #1a2533;
    --mat-button-toggle-state-layer-color: #1a2533;
    --mat-option-focus-state-layer-color: #1a2533;
    --mat-option-hover-state-layer-color: #1a2533;
    --mat-slide-toggle-unselected-track-color: #1a2533;
    --mat-stepper-header-focus-state-layer-color: #1a2533;
    --mat-stepper-header-hover-state-layer-color: #1a2533;
    --mat-dialog-supporting-text-color: var(--mat-sys-on-background);
    --mat-expansion-header-hover-state-layer-color: #1a2533;
    --mat-sys-surface-variant: #111c2d;

    // Custom Application Variables
    --bg-primary: #111c2d;
    --bg-secondary: #0b111e;
    --bg-tertiary: #1a2533;
    --text-primary: #ffffff;
    --text-secondary: #7c8fac;
    --border-color: #2a3447;
}