@use "sass:map";
@use "@angular/material" as mat;

// Importar temas y variables
@use "themecolors/blue_theme";
@use "variables" as *;
@use "override-component";
@use "theme-variables/default-variables";
@use "theme-variables/light-theme-variables";

// Importar componentes y utilidades
@use "layouts/transitions";
@use "helpers/color";
@use "helpers/border-color";
@use "helpers/icon-size";
@use "container";
@use "layouts/layouts";
@use "grid/grid";
@use "helpers/custom-flex";
@use "helpers/index";

@use "pages/auth";